body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    margin: 0;
}

.beta-text {
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* =================
    Intro
   ================= */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */


/* =================
    Media queries 
   ================= */