body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5rem;
    text-shadow: 0px 1px #816fca;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    margin-top: 0.167em;
    margin-bottom: 0.167em;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text {
    font-weight: 900;
}

.subheading {
    margin-bottom: 0.5em;
    color: #575757;
    font-weight: 900;
}

.beta-text,
.subheading {
    text-transform: uppercase;
}

/* =================
    Intro
   ================= */

.intro {
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-image: url(./images/intro-bg.png);
    background-size: cover;
}

/* =================
    Form
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}

/* ====================
    Main content
   ==================== */

.main-content {
    align-items: center;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */


/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    }

    h1{
        font-size: 3.25rem;
    }

    h2{
        font-size: 2.625rem;
    }

    .beta-text{
        font-size: 1.25rem;
    }

    .main-content,
    .intro {
        flex-basis: 50%;
        min-height: 100vh;
    }

    .main-content{
        padding-top: 0;
        justify-content: center;
    }
}